:root {
  --animate-duration: 1400ms;
  --animate-delay: 0.9s;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-image: url(../backgrounds/white-waves.png);
  background-color: white;
  font-family: 'Source Sans Pro', sans-serif;
  color: #3f3f3f;
}

.log-mela {
  width: 80vw;
  -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.footer-prop {
  height: 8rem;
  color: rgba(46, 30, 8, 0.609);
}

.titulo {
  color: rgba(46, 30, 8, 0.609);
  text-shadow: 1px 1px 2px white, 0 0 1em gainsboro, 0 0 0.6em #a0a083;
}

a {
  color: rgba(46, 30, 8, 0.609);
}

a:hover {
  color: #593c139b;
  text-shadow: 1px 1px 2px white, 0 0 1em gainsboro, 0 0 0.6em #a0a083;
}

footer p {
  text-shadow: 1px 1px 2px white, 0 0 1em gainsboro, 0 0 0.6em #a0a083;
}

.logoDesktop {
  display: block;
}

.logoMobile {
  display: none;
}

.navbar-collapse {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}

.bg-blanco {
  background-color: white;
}

.navbar-light .navbar-nav .nav-link {
  color: rgba(46, 30, 8, 0.609);
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #9464229b;
}

.navbar-light .navbar-nav .nav-link.active {
  color: #9464229b;
  text-decoration: underline;
}

.card-title {
  text-shadow: 1px 1px 2px white, 0 0 1em gainsboro, 0 0 0.6em #a0a083;
}

.card {
  -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.card::before {
  content: '';
  position: absolute;
  left: calc(-100% + 4px);
  top: 0;
  width: 100%;
  height: 100%;
  background: #333;
  z-index: 1;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.card:hover div p {
  color: #fff;
}

.card:hover:before {
  left: 0;
}

.card:nth-child(1):before {
  background: #a8d6cb;
}

.card div {
  position: relative;
  z-index: 1;
}

.card-body:hover {
  color: #fff;
}

.card-img-top {
  position: relative;
  z-index: 1;
}

.btn-primary {
  color: rgba(46, 30, 8, 0.609);
  background-color: #a8d6cb;
  border-color: #a8d6cb;
  -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.btn-primary:hover {
  color: #fff;
  background-color: #8ab3aa;
  border-color: #8ab3aa;
}

.btn-primary:focus {
  color: #fff;
  background-color: #8ab3aa;
  border-color: #8ab3aa;
  -webkit-box-shadow: 0 0 0 0.25rem #a8d6cb;
          box-shadow: 0 0 0 0.25rem #a8d6cb;
}

.btn-primary:active {
  color: #fff;
  background-color: #8ab3aa;
  border-color: #8ab3aa;
}

.at-form {
  border: solid 1px rgba(46, 30, 8, 0.609);
  margin: 1px;
  padding: 1rem;
  background: -webkit-gradient(linear, left top, left bottom, from(#e7ddd0), to(white));
  background: linear-gradient(#e7ddd0, white);
}

.form-check-input:checked {
  background-color: #8ab3aa;
  border-color: #8ab3aa;
}

.form-check-input:focus {
  border-color: #8ab3aa;
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.23rem #a8d6cb;
          box-shadow: 0 0 0 0.23rem #a8d6cb;
}

.form-control:focus, .form-select:focus {
  color: #212529;
  background-color: #fff;
  border-color: #8ab3aa;
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.25rem #a8d6cb;
          box-shadow: 0 0 0 0.25rem #a8d6cb;
}

@media screen and (max-width: 500px) {
  .nav-bar-logo {
    width: 70vw;
  }
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer-prop {
    height: 12rem;
  }
  .logoDesktop {
    display: none;
  }
  .logoMobile {
    display: block;
  }
}
/*# sourceMappingURL=style.css.map */