.card-title{
    text-shadow: $text-shadow;
}
.card{
    box-shadow: $box-shadow;
    overflow: hidden;
    &::before{
        content: '';
	    position: absolute;
	    left: calc(-100% + 4px);
	    top: 0;
	    width: 100%;
	    height: 100%;
	    background: #333;
	    z-index: 1;
	    transition: 0.5s ease-in-out;
    }
    &:hover{
        div{
            p{
                color: #fff;
            }
        }
    }
    &:hover:before{
        left: 0;
    }
    &:nth-child(1):before {
        background: #a8d6cb;
    }
    div{
        position: relative;
        z-index: 1;
    }
}
.card-body{
    &:hover{
        color: #fff;
    }
}
.card-img-top {
	position: relative;
	z-index: 1;
}