$text-shadow: 1px 1px 2px white, 0 0 1em gainsboro, 0 0 0.6em rgb(160, 160, 131) ;
$color-brown-dark:rgba(46, 30, 8, 0.609) ;
$color-brown-light:#9464229b;
$color-aqua: #a8d6cb;
$color-aqua-dark: #8ab3aa;
$box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1) ;